In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandasql import sqldf
print ("Libraries sucessfully loaded")

Libraries sucessfully loaded

## ETL Routines

In [22]:
# loading data_experiments file, hosted in Github repository for easy compatibility of this notebook when shared 
filename_exp = "https://raw.githubusercontent.com/tiagottmoraes/STL_test/main/Datasets/Dataset_case_DS.csv"

In [23]:
df = pd.read_csv(filename_exp)
df

,Unnamed: 0,bloco,talhao,safra,area,data_colheita,tch_bloco,NDVI_b01,NDVI_b02,NDVI_b03,NDVI_b04,NDVI_b05,NDVI_b06,NDVI_b07,NDVI_b08,NDVI_b09,NDVI_b10,NDVI_b11,NDVI_b12
0,0,1239,1,2015,15.53,2015-10-25 00:00:00,75.88,0.622972,NaN,0.712402,0.693089,0.743105,0.805768,0.711357,0.767734,0.650449,NaN,0.241302,NaN
1,1,1243,1,2015,13.69,2015-07-14 00:00:00,65.22,0.677335,NaN,0.651432,NaN,0.721786,0.641068,NaN,0.337117,0.323262,0.289830,0.279747,0.262570
2,2,1243,2,2015,4.63,2015-07-15 00:00:00,65.22,0.632256,NaN,0.736531,0.560717,0.682829,0.582140,NaN,0.317600,0.298278,NaN,NaN,NaN
3,3,1243,7,2015,4.95,2015-07-16 00:00:00,65.22,0.570271,0.463221,0.702480,0.590163,0.664030,0.602534,NaN,0.386727,0.321662,NaN,NaN,NaN
4,4,1244,4,2015,8.66,2015-05-13 00:00:00,96.91,0.709576,0.454723,0.734945,0.722006,NaN,0.494456,0.401426,0.364672,0.367147,0.387163,0.452122,0.516717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19865,3420,4708,1,2020,NaN,2020-06-01,126.90,NaN,0.785596,0.785964,NaN,0.785038,NaN,0.615206,0.451419,0.438878,0.437908,0.485190,0.655308
19866,3421,4708,2,2020,NaN,2020-05-31,126.90,NaN,0.778086,0.779421,NaN,0.771885,NaN,0.588857,0.434965,0.430177,0.453576,0.589941,0.678126
19867,3422,4708,3,2020,NaN,2020-05-29,126.90,0.764153,0.777951,0.769963,NaN,0.696746,NaN,0.578459,0.474790,0.470805,0.572272,0.638208,0.696257
19868,3423,4709,1,2020,NaN,2020-05-31,126.20,NaN,0.748262,0.732310,NaN,0.693749,NaN,0.539828,0.444521,0.415690,0.437539,0.488487,0.633406
19869,3424,4710,1,2020,NaN,2020-08-11,150.90,0.644000,0.701959,0.731587,0.773068,0.776128,0.813127,NaN,0.807497,0.682923,0.696062,0.643515,0.567022

In [24]:
df['data_colheita'] = pd.to_datetime(df['data_colheita']).dt.month

In [25]:
df

,Unnamed: 0,bloco,talhao,safra,area,data_colheita,tch_bloco,NDVI_b01,NDVI_b02,NDVI_b03,NDVI_b04,NDVI_b05,NDVI_b06,NDVI_b07,NDVI_b08,NDVI_b09,NDVI_b10,NDVI_b11,NDVI_b12
0,0,1239,1,2015,15.53,10.0,75.88,0.622972,NaN,0.712402,0.693089,0.743105,0.805768,0.711357,0.767734,0.650449,NaN,0.241302,NaN
1,1,1243,1,2015,13.69,7.0,65.22,0.677335,NaN,0.651432,NaN,0.721786,0.641068,NaN,0.337117,0.323262,0.289830,0.279747,0.262570
2,2,1243,2,2015,4.63,7.0,65.22,0.632256,NaN,0.736531,0.560717,0.682829,0.582140,NaN,0.317600,0.298278,NaN,NaN,NaN
3,3,1243,7,2015,4.95,7.0,65.22,0.570271,0.463221,0.702480,0.590163,0.664030,0.602534,NaN,0.386727,0.321662,NaN,NaN,NaN
4,4,1244,4,2015,8.66,5.0,96.91,0.709576,0.454723,0.734945,0.722006,NaN,0.494456,0.401426,0.364672,0.367147,0.387163,0.452122,0.516717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19865,3420,4708,1,2020,NaN,6.0,126.90,NaN,0.785596,0.785964,NaN,0.785038,NaN,0.615206,0.451419,0.438878,0.437908,0.485190,0.655308
19866,3421,4708,2,2020,NaN,5.0,126.90,NaN,0.778086,0.779421,NaN,0.771885,NaN,0.588857,0.434965,0.430177,0.453576,0.589941,0.678126
19867,3422,4708,3,2020,NaN,5.0,126.90,0.764153,0.777951,0.769963,NaN,0.696746,NaN,0.578459,0.474790,0.470805,0.572272,0.638208,0.696257
19868,3423,4709,1,2020,NaN,5.0,126.20,NaN,0.748262,0.732310,NaN,0.693749,NaN,0.539828,0.444521,0.415690,0.437539,0.488487,0.633406
19869,3424,4710,1,2020,NaN,8.0,150.90,0.644000,0.701959,0.731587,0.773068,0.776128,0.813127,NaN,0.807497,0.682923,0.696062,0.643515,0.567022

In [26]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df

,bloco,talhao,safra,area,data_colheita,tch_bloco,NDVI_b01,NDVI_b02,NDVI_b03,NDVI_b04,NDVI_b05,NDVI_b06,NDVI_b07,NDVI_b08,NDVI_b09,NDVI_b10,NDVI_b11,NDVI_b12
0,1239,1,2015,15.53,10.0,75.88,0.622972,NaN,0.712402,0.693089,0.743105,0.805768,0.711357,0.767734,0.650449,NaN,0.241302,NaN
1,1243,1,2015,13.69,7.0,65.22,0.677335,NaN,0.651432,NaN,0.721786,0.641068,NaN,0.337117,0.323262,0.289830,0.279747,0.262570
2,1243,2,2015,4.63,7.0,65.22,0.632256,NaN,0.736531,0.560717,0.682829,0.582140,NaN,0.317600,0.298278,NaN,NaN,NaN
3,1243,7,2015,4.95,7.0,65.22,0.570271,0.463221,0.702480,0.590163,0.664030,0.602534,NaN,0.386727,0.321662,NaN,NaN,NaN
4,1244,4,2015,8.66,5.0,96.91,0.709576,0.454723,0.734945,0.722006,NaN,0.494456,0.401426,0.364672,0.367147,0.387163,0.452122,0.516717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19865,4708,1,2020,NaN,6.0,126.90,NaN,0.785596,0.785964,NaN,0.785038,NaN,0.615206,0.451419,0.438878,0.437908,0.485190,0.655308
19866,4708,2,2020,NaN,5.0,126.90,NaN,0.778086,0.779421,NaN,0.771885,NaN,0.588857,0.434965,0.430177,0.453576,0.589941,0.678126
19867,4708,3,2020,NaN,5.0,126.90,0.764153,0.777951,0.769963,NaN,0.696746,NaN,0.578459,0.474790,0.470805,0.572272,0.638208,0.696257
19868,4709,1,2020,NaN,5.0,126.20,NaN,0.748262,0.732310,NaN,0.693749,NaN,0.539828,0.444521,0.415690,0.437539,0.488487,0.633406
19869,4710,1,2020,NaN,8.0,150.90,0.644000,0.701959,0.731587,0.773068,0.776128,0.813127,NaN,0.807497,0.682923,0.696062,0.643515,0.567022

In [27]:
df.rename(columns = {'data_colheita':'mes_colheita'}, inplace = True)

In [28]:
df.rename(columns = {'bloco':'id_bloco'}, inplace = True)

In [29]:
df.dtypes

id_bloco          int64
talhao            int64
safra             int64
area            float64
mes_colheita    float64
tch_bloco       float64
NDVI_b01        float64
NDVI_b02        float64
NDVI_b03        float64
NDVI_b04        float64
NDVI_b05        float64
NDVI_b06        float64
NDVI_b07        float64
NDVI_b08        float64
NDVI_b09        float64
NDVI_b10        float64
NDVI_b11        float64
NDVI_b12        float64
dtype: object

### Checking NaN values present in the dataset

In [30]:
print(" \nTotal number of NaN items present in the columns of the DataFrame 'Data': \n\n", df.isnull().sum())

Total number of NaN items present in the columns of the DataFrame 'Data':

 id_bloco           0
talhao             0
safra              0
area            3540
mes_colheita     115
tch_bloco         32
NDVI_b01         921
NDVI_b02        1041
NDVI_b03        1580
NDVI_b04        2383
NDVI_b05        3563
NDVI_b06        3448
NDVI_b07        3533
NDVI_b08        4072
NDVI_b09        4750
NDVI_b10        5223
NDVI_b11        6862
NDVI_b12        8242
dtype: int64

In [31]:
df=df.interpolate()

In [32]:
df.isnull().sum()

id_bloco        0
talhao          0
safra           0
area            0
mes_colheita    0
tch_bloco       0
NDVI_b01        0
NDVI_b02        3
NDVI_b03        0
NDVI_b04        0
NDVI_b05        0
NDVI_b06        0
NDVI_b07        0
NDVI_b08        0
NDVI_b09        0
NDVI_b10        1
NDVI_b11        0
NDVI_b12        1
dtype: int64

#### Replacing the ramainder of NaN with the average of that variable

In [33]:
avg_NDVI_b02 = df['NDVI_b02'].mean(axis=0)
avg_NDVI_b10 = df['NDVI_b10'].mean(axis=0)
avg_NDVI_b12 = df['NDVI_b12'].mean(axis=0)

In [34]:
df['NDVI_b02'].replace(np.nan, avg_NDVI_b02, inplace=True)
df['NDVI_b10'].replace(np.nan, avg_NDVI_b10, inplace=True)
df['NDVI_b12'].replace(np.nan, avg_NDVI_b12, inplace=True)

In [35]:
print(" \nTotal number of NaN items present in the columns of the DataFrame 'Data': \n\n", df.isnull().sum())

Total number of NaN items present in the columns of the DataFrame 'Data':

 id_bloco        0
talhao          0
safra           0
area            0
mes_colheita    0
tch_bloco       0
NDVI_b01        0
NDVI_b02        0
NDVI_b03        0
NDVI_b04        0
NDVI_b05        0
NDVI_b06        0
NDVI_b07        0
NDVI_b08        0
NDVI_b09        0
NDVI_b10        0
NDVI_b11        0
NDVI_b12        0
dtype: int64

In [36]:
df

,id_bloco,talhao,safra,area,mes_colheita,tch_bloco,NDVI_b01,NDVI_b02,NDVI_b03,NDVI_b04,NDVI_b05,NDVI_b06,NDVI_b07,NDVI_b08,NDVI_b09,NDVI_b10,NDVI_b11,NDVI_b12
0,1239,1,2015,15.53,10.0,75.88,0.622972,0.584482,0.712402,0.693089,0.743105,0.805768,0.711357,0.767734,0.650449,0.474292,0.241302,0.422827
1,1243,1,2015,13.69,7.0,65.22,0.677335,0.584482,0.651432,0.626903,0.721786,0.641068,0.633875,0.337117,0.323262,0.289830,0.279747,0.262570
2,1243,2,2015,4.63,7.0,65.22,0.632256,0.584482,0.736531,0.560717,0.682829,0.582140,0.556392,0.317600,0.298278,0.322274,0.337205,0.347285
3,1243,7,2015,4.95,7.0,65.22,0.570271,0.463221,0.702480,0.590163,0.664030,0.602534,0.478909,0.386727,0.321662,0.354719,0.394664,0.432001
4,1244,4,2015,8.66,5.0,96.91,0.709576,0.454723,0.734945,0.722006,0.697160,0.494456,0.401426,0.364672,0.367147,0.387163,0.452122,0.516717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19865,4708,1,2020,9.90,6.0,126.90,0.484740,0.785596,0.785964,0.585527,0.785038,0.701201,0.615206,0.451419,0.438878,0.437908,0.485190,0.655308
19866,4708,2,2020,9.90,5.0,126.90,0.624446,0.778086,0.779421,0.632412,0.771885,0.729183,0.588857,0.434965,0.430177,0.453576,0.589941,0.678126
19867,4708,3,2020,9.90,5.0,126.90,0.764153,0.777951,0.769963,0.679298,0.696746,0.757164,0.578459,0.474790,0.470805,0.572272,0.638208,0.696257
19868,4709,1,2020,9.90,5.0,126.20,0.704076,0.748262,0.732310,0.726183,0.693749,0.785146,0.539828,0.444521,0.415690,0.437539,0.488487,0.633406
19869,4710,1,2020,9.90,8.0,150.90,0.644000,0.701959,0.731587,0.773068,0.776128,0.813127,0.539828,0.807497,0.682923,0.696062,0.643515,0.567022

In [37]:
np.info((df['tch_bloco'].unique()))

class:  ndarray
shape:  (3167,)
strides:  (8,)
itemsize:  8
aligned:  True
contiguous:  True
fortran:  True
data pointer: 0x2d1db459b50
byteorder:  little
byteswap:  False
type: float64

In [38]:
df1= sqldf(
"""
SELECT  id_bloco, count(talhao) as quant_talhoes, sum(area) as area_bloco, safra, mes_colheita, tch_bloco, AVG(NDVI_b01), AVG(NDVI_b02), 
        AVG(NDVI_b03), AVG(NDVI_b04), AVG(NDVI_b05), AVG(NDVI_b06), AVG(NDVI_b07),
        AVG(NDVI_b08), AVG(NDVI_b09), AVG(NDVI_b10), AVG(NDVI_b11), AVG(NDVI_b12)
FROM df
GROUP BY tch_bloco
ORDER BY safra, id_bloco
ASC
"""
)
df1

,id_bloco,quant_talhoes,area_bloco,safra,mes_colheita,tch_bloco,AVG(NDVI_b01),AVG(NDVI_b02),AVG(NDVI_b03),AVG(NDVI_b04),AVG(NDVI_b05),AVG(NDVI_b06),AVG(NDVI_b07),AVG(NDVI_b08),AVG(NDVI_b09),AVG(NDVI_b10),AVG(NDVI_b11),AVG(NDVI_b12)
0,1238,2,2.78,2015,11.0,85.79,0.621016,0.593393,0.625247,0.662795,0.725404,0.793075,0.686161,0.600156,0.700166,0.626042,0.329555,0.472331
1,1239,3,27.57,2015,10.0,75.88,0.607295,0.593540,0.663341,0.649913,0.749587,0.789316,0.698183,0.759529,0.655057,0.529809,0.282749,0.436202
2,1240,6,27.74,2015,10.0,98.07,0.552071,0.532242,0.577145,0.615867,0.705622,0.729879,0.603955,0.532772,0.700569,0.644312,0.368403,0.382846
3,1243,7,49.88,2015,7.0,65.22,0.624556,0.503360,0.715249,0.579581,0.673140,0.595357,0.578207,0.348295,0.311897,0.492823,0.377471,0.424569
4,1244,8,43.39,2015,5.0,96.91,0.542917,0.475351,0.592504,0.588793,0.594199,0.495052,0.486666,0.416599,0.450113,0.467162,0.414395,0.435055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3162,4690,2,19.80,2020,8.0,91.10,0.537671,0.716863,0.757068,0.796659,0.783131,0.783382,0.642117,0.745228,0.409735,0.403186,0.374699,0.389446
3163,4696,5,49.50,2020,5.0,82.70,0.721904,0.741164,0.764144,0.622067,0.659188,0.482320,0.541599,0.460236,0.421822,0.362935,0.322575,0.311481
3164,4700,8,79.20,2020,7.0,63.70,0.401959,0.517722,0.687408,0.683644,0.754132,0.627341,0.680703,0.484781,0.389019,0.303313,0.297149,0.306253
3165,4701,1,9.90,2020,5.0,99.90,0.713582,0.733565,0.771145,0.630503,0.752422,0.519238,0.517819,0.450051,0.407566,0.360556,0.306154,0.304827
3166,4709,1,9.90,2020,5.0,126.20,0.704076,0.748262,0.732310,0.726183,0.693749,0.785146,0.539828,0.444521,0.415690,0.437539,0.488487,0.633406

In [39]:
df2= sqldf(
"""
SELECT  id_bloco, count(talhao) as quant_talhoes, sum(area) as area_bloco, safra, mes_colheita, tch_bloco, AVG(NDVI_b01)+ AVG(NDVI_b02)+ 
        AVG(NDVI_b03) as NDVI_1Q, AVG(NDVI_b04) + AVG(NDVI_b05) + AVG(NDVI_b06) as NDVI_2Q, AVG(NDVI_b07)+
        AVG(NDVI_b08) + AVG(NDVI_b09) as NDVI_3Q, AVG(NDVI_b10)+ AVG(NDVI_b11)+ AVG(NDVI_b12) as NDVI_4Q
FROM df
GROUP BY tch_bloco
ORDER BY safra, id_bloco
ASC
"""
)
df2

,id_bloco,quant_talhoes,area_bloco,safra,mes_colheita,tch_bloco,NDVI_1Q,NDVI_2Q,NDVI_3Q,NDVI_4Q
0,1238,2,2.78,2015,11.0,85.79,1.839656,2.181274,1.986484,1.427928
1,1239,3,27.57,2015,10.0,75.88,1.864176,2.188816,2.112769,1.248760
2,1240,6,27.74,2015,10.0,98.07,1.661458,2.051368,1.837296,1.395560
3,1243,7,49.88,2015,7.0,65.22,1.843165,1.848078,1.238399,1.294863
4,1244,8,43.39,2015,5.0,96.91,1.610772,1.678044,1.353379,1.316612
...,...,...,...,...,...,...,...,...,...,...
3162,4690,2,19.80,2020,8.0,91.10,2.011603,2.363172,1.797080,1.167331
3163,4696,5,49.50,2020,5.0,82.70,2.227212,1.763574,1.423658,0.996991
3164,4700,8,79.20,2020,7.0,63.70,1.607089,2.065117,1.554503,0.906714
3165,4701,1,9.90,2020,5.0,99.90,2.218292,1.902162,1.375436,0.971537
3166,4709,1,9.90,2020,5.0,126.20,2.184649,2.205077,1.400040,1.559431

### Exporting the pre-processed df into a new .csv file

In [40]:
df2.to_csv('https://raw.githubusercontent.com/tiagottmoraes/STL_test/main/Datasets/Dataset_case_CLEAN.csv')